<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://use.fontawesome.com/2d2c2134a5.js"></script>
    <link href="static/css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-route.min.js"></script>
    <script src="static/javascript/addressBook.js"></script>
</head>
<body ng-app="addressBookApp" ng-view></body>
</html>
